
@media screen and (max-width: 1000px){
    
    /* Desktop nav disapear when size < 1200px */
    #Desktop-nav
    {
        display: none;
    }
    
    #MobileMenu-nav
    {
        display: flex;
    }

    #head-image img
    {
        width: 200px;
        height: 200px;
    }

    #heading2
    {
        font-size: 20px;
    }

    #heading
    {
        font-size: 15px;
    }

    #heading3
    {
        display: none;
    }

    

    
}

@media screen and (max-width: 1220px)
{
    #section-container
    {
        visibility: collapse;
        display: none;
    }

    #education-details-small
    {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media screen and (max-width: 1220px)
{
    #education-details-small
    {
        visibility:visible;
        display: block ;
        justify-content: center;
        align-items: center;
        margin-left: 150px;
        margin-right: 150px;
        background-color: #333;
        color: orange;
    }
    
    #year
    {
        color: aqua;
    }

    #modules
    {
        color: palevioletred;
    }
}




/* Animation*/
@keyframes slideRight {
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes ZoomIn {
    0%
    {
        transform: Scale(0);
        opacity: 0;
    }
    100%
    {
        transform: Scale(1);
        opacity: 1;
    }
}